/*
This theme uses the AIR naming convention.
https://levelup.gitconnected.com/air-naming-css-color-variables-437cb4d261a6
*/

:root {

  /* Static colors regardless of theme */
  --color-brand-1: #19161B;
  --color-brand-2: #A1ABCC;
  --color-brand-3: #1AA8E4;

  /*
  dark: #172040
  light: #b3bccc
  accent dark: #0024bd
  accent light: #5799ae
  */

  /* These colors are intended to contrast against images
    no matter which theme is used. */
  --color-dkimg-1: #dce6e9;
  --color-dkimg-c: #5d5d68;
  --color-ltimg-1: #5d5d68;
  --color-ltimg-c: #dce6e9;

  /* Default fonts, before theme overrides */
  --font-display: 'Orbitron', serif;
  --font-content: 'Open Sans', sans-serif;

  /* Setting as few document defaults as possible in favor of
    encapsulated CSS at the component level */
  background-color: var(--color-site-1);
  color: var(--color-site-1-c);
  font-family: var(--font-content);
  scroll-behavior: smooth;

  /* 62.5% is typically 10px, making 1rem = 10px for easy reference.
    Keeping the units relative is better for accessibility. */
  font-size: 62.5%;
}

option:checked:not(:disabled) {
  background-color: var(--color-accent-1);
  color: var(--color-accent-1-c);
}

::selection {
  background: var(--color-accent-1);
  color: var(--color-accent-1-c);
}

::-moz-selection {
  background: var(--color-accent-1);
  color: var(--color-accent-1-c);
}

body {

  /* Setting the generic font size back to 20px for legibility */
  font-size: 2rem;
}

/* make sure the outermost elements always take up 100% of the vertical space */
:root,
body,
#__next {
  height: 100%;
  margin: 0;
}

:root.base {

  /* Colors */
  --color-site-1: #5B78AB;
  --color-site-1-c: #fff;
  --color-site-2: #fff;
  --color-site-2-c: #000;

  --color-accent-1: #1AA8E4;
  --color-accent-1-c: #fff;

  --color-disabled-1: #373434;
  --color-disabled-1-c: #6f6d6d;

  --color-success-1: #173713;
  --color-success-1-c: #b7f2b7;
  --color-success-1-1: #6cbb6c;

  --color-warning-1: #372f13;
  --color-warning-1-c: #f8f3d3;
  --color-warning-1-1: #bba56c;

  --color-error-1: #371313;
  --color-error-1-c: #f8d3d3;
  --color-error-1-1: #bb6c6c;
}
